.pairs__slider-swipper {
  display: flex;
  justify-content: space-between;
}

.pairs__slide {
  background-color: $color_hero_bg;
  max-width: 345px;
  height: auto;
}

.pairs__name {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  padding-top: 32px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.pairs__info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 50px;
}
